/* General */
body {
  font-family: "Inter", sans-serif;
  background-color: #f5f7fa;
  margin: 0;
}
.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Main Section */
.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  flex: 1;
}
.text-content {
  flex: 1;
}
.main-title {
  font-size: 64px;
  font-weight: 600;
  margin: 0;
}
.text-gray {
  color: #4d4d4d;
}
.text-blue {
  color: #2fbcdc;
}
.sub-text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 1rem;
  color: #717171;
  line-height: 1.5;
}
.find-out-button {
  padding: 1rem;
  background-color: #4caf4f;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 2rem;
}
.canvas {
  width: 100%;
  height: 100vh; /* Ajusta la altura según necesites */
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-secondary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  flex: 1;
}
.text-secondary {
  flex: 1;
}
.secondary-tittle {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}
.text-gray-second {
  color: #4d4d4d;
}
.text-blue-second {
  color: #2fbcdc;
}
.sub-text-second {
  font-size: 16px;
  font-weight: 400;
  margin-top: 1rem;
  color: #717171;
}
.stats-section {
  display: flex;
  justify-content: center; /* Centrar el contenido */
  padding: 2rem; /* Espaciado alrededor de la sección */
}
.stats {
  display: grid; /* Usar grid para organizar en filas y columnas */
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  grid-gap: 20px; /* Espacio entre las columnas y filas */
  max-width: 800px; /* Ancho máximo */
  width: 100%; /* Ancho completo */
}
.stat-item {
  display: flex;
  flex-direction: column; /* Alinear el texto verticalmente */
  align-items: center; /* Centrar el texto horizontalmente */
  margin: 0; /* Quitar el margen por defecto */
  text-align: center; /* Centrar el texto */
}
.stat-icon {
  font-size: 40px; /* Tamaño del ícono */
  color: #4d4d4d; /* Color del ícono */
  margin-bottom: 0.5rem; /* Espaciado entre el ícono y el texto */
}
.stat-number {
  font-size: 28px;
  font-weight: bold;
  color: #4d4d4d;
  margin: 0; /* Quitar el margen por defecto */
}
.stat-description {
  font-size: 16px;
  color: #717171;
  margin: 0.5rem; /* Quitar el margen por defecto */
  line-height: 1.5;
}
