.container {
    width: 100vw; 
    height: 100vh;
    background-image: url("public/imgs/water.jpg");
    background-size: cover; 
    background-position: center;
    filter: hue-rotate(15deg);
}

.login-container {
    display: flex; /* Asegúrate de que sea flex */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); /* Sombra */
    border-radius: 20px; /* Bordes redondeados */
}

.logo {
    display: flex; 
    justify-content: center;

}

.logo img {
    width: 80px;
    height: auto;
}

.title {
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
}

.login-wrapper {
    width: 230px;
    margin: 0, auto;
}

.input-container .email {
    margin-top: 30px;
}

.login-wrapper .input-container h2 {
    font-size: 12px;
    color: #fff;
}

.login-wrapper .input-container .input {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    padding: 10px 0; /* Espacio interno */
    border: none; /* Sin borde */
    margin-bottom: 5px;
    border-bottom: 1px solid #fff;
    border-radius: 5px; /* Bordes redondeados */
    background: white; /* Fondo claro con opacidad */
    color: black ; /* Color del texto */
    font-size: 13px; /* Tamaño de fuente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.login-wrapper .input-container .input::placeholder {
    padding-left: 20px;
    color: rgb(188, 190, 192)
}

.login-button{
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    background: #003465;
    color: #fff;
    
}

.text-login {
    color: #fff;
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
}

.footer {
    background: none;
    font-size: 10px;
}

.socials-buttons {
    display: flex;
    justify-content: space-between;
}


.google-register img {
    width: 20px;
    scale: 150%;
}

.facebook-register img {
    width: 20px;
    scale: 90%;
}

.socials-buttons button {
    flex: 1; 
    margin: 10px 7px; /* Espacio entre botones */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    background-color: #fff; /* Fondo blanco o el que prefieras */
    color: #333; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
}
