.container {
    width: 100vw; 
    height: 100vh;
    background-image: url("/imgs/water.jpg");
    background-size: 160%; 
    background-position: center;
    filter: hue-rotate(20deg);
}

.login-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2); /* Efecto de fondo borroso */
    backdrop-filter: blur(6px); 
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); /* Sombra */
    border-radius: 20px; 
}

.logo {
    display: flex; 
    justify-content: center;

}

.logo img {
    width: 90px;
    height: auto;
}

.title {
    color: #fff;
    font-size: 20px;
    margin-top: 40px;
}

.login-wrapper {
    width: 230px;
    margin: 0, auto;
}

.input-container .email {
    margin-top: 30px;
}

.login-wrapper .input-container h2 {
    font-size: 12px;
    color: #fff;
}

.login-wrapper .input-container .input {
    width: 100%; 
    padding: 10px 0; 
    border: none;
    margin-bottom: 5px;
    border-bottom: 1px solid #fff;
    border-radius: 5px; 
    background: white; 
    color: black ; 
    font-size: 13px; 
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.login-wrapper .input-container .input:focus {
    text-indent: 20px;
}

.login-wrapper .input-container .input::placeholder {
    padding-left: 20px;
    color: rgb(188, 190, 192);
}

.login-button{
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    background: #003465;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition:  background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover { 
    transform: scale(1.05);  /* Se aumenta el tamañod del boton */
}


.text-login {
    color: #fff;
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
}

.login-footer {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    background: none;
    font-size: 10px;
    color: #fff;
}

.socials-buttons {
    display: flex;
    justify-content: space-between;
}


.google-register img {
    width: 20px;
    scale: 150%;
}

.facebook-register img {
    width: 20px;
    scale: 90%;
}

.socials-buttons button {
    flex: 1; 
    margin: 10px 7px; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    background-color: #fff; 
    color: #333; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animación
    al pasar el raton por los los botones */
}

.socials-buttons button:hover { 
    transform: scale(1.15);  /* Se aumenta el tamañod del boton */
}

.register-login-link {
  text-decoration: none;  
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.register-login-link:hover {
    transform: scale(1.02);
    color: #0A4E70;
}