.puzzle-grid {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(4, 75px);
    gap: 2px;
    justify-content: center;
    margin: 20px auto;
    background: #ccc;
    opacity: 0; /* Inicialmente invisible */
    transform: scale(0.95); /* Leve reducción de escala */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Animación suave */
}

.puzzle-grid.visible {
    opacity: 1; 
    transform: scale(1); 
}

.puzzle-piece {
    width: 75px;
    height: 75px;
    border: 1px solid #fff;
    overflow: hidden;
    position: relative;
    background-color: white;
}


.puzzle-solved {
    font-size: 18px;
    color: green;
}

.score-display {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    max-height: 40px;
    margin-top: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    padding: 0 10px; 
}

.score-display p {
    margin: 0; 
}

.feedback-message {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    color: white;
    border: 3px solid white;
    border-radius: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Duración y tipo de transición */
}

.feedback-message.visible {
    opacity: 1;
}
